@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  /* overflow: hidden !important; */
  overflow-x: auto;
}

code {
  font-family: 'Montserrat', sans-serif;
}
